commands:
  00_create_dir:
    command: mkdir -p /var/.chainlink-ropsten

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["your-secrets-bucket-name"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
    # Create API configuration
    '/var/.chainlink-ropsten/.api':
        mode: '000644'
        owner: root
        group: root
        authentication: "S3Auth"
        source: YOUR_S3_API_FILE_ADDRESS

    # Enter wallet password
    '/var/.chainlink-ropsten/.password':
        mode: '000644'
        owner: root
        group: root
        authentication: "S3Auth"
        source: YOUR_S3_PASSWORD_FILE_ADDRESS

    # Create env file
    '/var/.chainlink-ropsten/chainlink.toml':
        mode: '000644'
        owner: root
        group: root
        authentication: "S3Auth"
        source: YOUR_CHAINLINK_TOML_FILE_ADDRESS

    # Supply node with cert
    '/var/.chainlink-ropsten/tls/server.crt':
        mode: '000644'
        owner: root
        group: root
        authentication: "S3Auth"
        source: YOUR_S3_SERVER_CERT_FILE_ADDRESS

    # Supply node with cert key
    '/var/.chainlink-ropsten/tls/server.key':
        mode: '000644'
        owner: root
        group: root
        authentication: "S3Auth"
        source: YOUR_S3_SERVER_KEY_FILE_ADDRESS

option_settings:
    - option_name: ROOT
      value: /chainlink