option_settings:
  aws:ec2:vpc:
    VPCId: "YOUR_VPC_ID"
    Subnets: "YOUR_PUBLIC_SUBNET_ID"
    ELBSubnets: "YOUR_PUBLIC_SUBNET_ID"
    AssociatePublicIpAddress: true
  aws:elb:loadbalancer:
    SecurityGroups: "YOUR_PUBLIC_SECURITY_GROUP_ID"
    ManagedSecurityGroup: "YOUR_PUBLIC_SECURITY_GROUP_ID"
  aws:autoscaling:launchconfiguration:
    SecurityGroups: "YOUR_PUBLIC_SECURITY_GROUP_ID"